@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    transition: all .3s ease-in;
}
body {
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.hero-section {
    height: 500px;
    background-image: url(assets/pexels-joenibraw-1416530.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-section .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    position: relative;
}
.navigation ul {
    display: flex;
    gap: 17px;
}
.navigation ul li {
    list-style: none;
    position: relative;
}
.navigation ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f20e34;
    margin: 0px auto;
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0px;
    transition: .5s;
}
.navigation ul li:hover::after {
    width: 100%;
}
.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.active {
    border-bottom: 2px solid #f20e34;
}
 /* menu */
.navigation .menu-cover {
    cursor: pointer;
    padding-top: 6.5px;
    position: relative;
    padding-right: 5px;
    display: none;

    &:hover {
        border-right: 3px solid hsl(350, 100%, 88%,0.9);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
.menu-cover .menu {
    width: 35px;
    height: 3px;
    margin-bottom: 6px;
    background-color: #fff;
    border-radius: 1px;
    /* display: none; */
}

.menu-cover .line1 {
    width: 23px;
    margin-left: 12px;
}
.menu-cover .line2 {
    background-color: hsl(350, 100%, 88%,0.9);
}

/* side bar */
.navigation .side-bar {
    background-color: hsl(240, 100%, 50%, 0.3);
    backdrop-filter:  blur(2px);
    box-shadow: -3px 0px 9px rgb(46, 43, 40);
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 300px;
    z-index: 999;
    display: none;
    animation-name: slide;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}
@keyframes slide {
    from{
        transform: translateX(130%);
    }
}
@media (min-width: 707px) {
    .navigation .side-bar {
        visibility: hidden;
    }
    .backdrop {
        visibility: hidden;
    }
}
.side-bar .side-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: .2rem 1.5rem;
}
.side-bar .side-links li {
    line-height: 60px;
}
@media (max-width: 706px) {
    .navigation .menu-cover {
        display: block;
    }
    .navigation ul {
        display: none;
    }
} 

.center-hero-h1 {
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0px;
}
/* second-section */
.second-section {
    padding: 7rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1185px) {
    .second-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}
.second-section .address-info {
    /* display: flex; */
    /* background-color: #3d9ae5; */

}
.address-info .address-details {
    font-style: italic;
}
.address-details .size-20x {
    font-size: 18px;
}
.address-details .address-subheading {
    font-size: 13px;
}
.address-details .address-texts-wrapper, .icon {
    display: flex;
    align-items: center;
    padding: .9rem 0rem;
}
.icon ion-icon {
    font-size: 1.4rem;
    margin-right: 19px;
    color: #f20e34;
}
.form-side form {
    background-color: greenyellow;
    display: flex;
}
form .inputs {
    padding: 30px 0px;
}
.inputs input[type="name"], input[type="email"] {
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 2px #333 inset;
    height: 40px;
    padding-left: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    &:focus {
        border: 2px solid hsl(350, 100%, 88%,0.9);;
        outline: none;
        box-shadow: none;
    }
}
.inputs textarea {
    padding: 10px;
    border: none;
    font-size: 14px;
    box-shadow: 0px 0px 2px #333 inset;
    width: 100%;
    max-width: 400px;
    &:focus {
        border: 2px solid hsl(350, 100%, 88%,0.9);
        outline: none;
        box-shadow: none;
    }
}
.inputs .btn {
    margin: 12px 0px;
    border: none;
    width: 150px;
    padding: 12px 6px;
    background-color: transparent;
    border: 1px solid;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: hsl(350, 100%, 88%,0.9);
        border: hsl(350, 100%, 88%,0.9);
        transition: .2s ease-out;
        color: #fff;
    }
}
.inputs .btn::before {
    content: '';
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 25px;
    left: -15px;
    top: 18px;
}
.inputs .btn:hover::before {
    background-color: hsl(350, 100%, 88%,0.9);
}
.inputs .btn::after {
    content: '';
    position: absolute;
    background-color: #000;
    height: 1px;
    width: 25px;
    right: -15px;
    top: 18px;
}
.inputs .btn:hover::after {
    background-color: hsl(350, 100%, 88%,0.9);
}
.map .center {
    text-align: center;
    padding: 0px 0px;
    display: none;
}
.map iframe {
    /* max-width: 900px; */
    /* width: 100%; */
    border: none;
}


/* footer */
.last-section {
    padding: .7rem;
}
.last-section .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer h3 {
    padding-bottom: 20px;
}
.footer .sub-heading {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}
.footer .footer-links {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer-links li {
    list-style-type: none;
    position: relative;
}
.footer-links a {
    color: hsla(350, 95%, 84%, 0.99);
    font-size: 20px;
    text-align: center;


    &:hover {
        color: hsl(350, 100%, 88%, 0.8);
    }
}
.footer-links .move-top-arrow {
    width: 50px;
    position: absolute;
    right: 10%;
    transition: .3s;

    &:hover {
        /* background-color: #f20e34; */
        background-color: hsl(350, 100%, 88%,0.7);
        overflow: hidden;
        border-radius: 8px;
    }
}