/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
:root {
  --text-fonts: "Outfit", sans-serif;
  font-optical-sizing: auto;
  --heading-text: "Young Serif", serif;
  font-weight: 400;
  --body-bgc: hsl(30, 54%, 90%);
  --container-bg: #fff;

}
* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--body-bgc);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
padding: 60px;
}
.container {
  background: var(--container-bg);
  border-radius: 15px;
  max-width: 600px;
  width: 100%;
  padding: 1.5rem;
}
.container img {
  max-width: 700px;
  width: 100%;
  border-radius: 7px
}
.container h1 {
  font-family: var(--heading-text);
  padding: 15px 0px;
  font-size: 31px;
  opacity: .7;
}
.container p {
  font-family: var(--text-fonts);
  font-size: 15px;
  width: 95%;
  color: #151515;
}
.preparation-sec {
  background: rgb(255, 210, 217, 0.2);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 10px;
}
.preparation-sec h3 {
  color: purple;
  font-size: 15px;
  font-family: var(--text-fonts);
}
.preparation-sec ul li {
  line-height: 20px;
  margin: 10px 20px;
  padding: 0px 10px;
  font-family: var(--text-fonts);
  color: #000;
  opacity: .9;
  font-weight: 600;
  font-size: 14px;
}
.preparation-sec ul li::marker {
  color: purple;
}
.preparation-sec ul li span {
  font-weight: normal;
  color: #302f2f;
}
.ingredients-sec h2 {
  font-family: var(--heading-text);
  color: #d5955c;

}
.ingredients-sec ul {
  margin-left: 20px;
  padding: 15px 0px;
}
.ingredients-sec ul li {
  font-family: var(--text-fonts);
  font-size: 14px;
  line-height: 30px;
}
.ingredients-sec ul li::marker {
  color: #ae5c14;
}
.instruction-sec {
  padding: 25px 10px
}
.instruction-sec h2 {
  color: #d5955c;
  font-family: var(--heading-text);
}
.instruction-sec ol li {
  font-weight: 600;
  font-size: 15px;
  font-family: var(--text-fonts);
  margin: 20px 20px;
}
.instruction-sec ol li span {
  font-weight: normal
}
.instruction-sec ol li::marker {
  color: #ae5c14;
  font-weight: 600;
}

.nutrition-sec {
  /* background-color: red; */
}
.nutrition-sec h2 {
  color: #d5955c;
  font-family: var(--heading-text);
  padding: 20px  0px;
}
.nutrition-sec .nutritional-list-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  padding-left: 20px;
}
.nutritional-list-table .name, .weigh {
  border-top: 1px solid gray;
  padding: .60rem;
}
.nutritional-list-table h4 {
  color: rgb(106, 17, 1);
  font-family: var(--text-fonts);
  font-size: 14px;
}